/*official css mralbelo*/

.mui-textfield{
    color:#42DCA3 !important;
}

.mui-form {
    color: #42DCA3 !important;
}

.contactform {
    padding: 40 0 ;
    width: 70%;
    background-color: #181818;
}